*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
  }
  .maindiv{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
  }
  .container{
    width: 100%;
    max-width: 900px;
    display: flex;
    gap: 4rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  
  }
  .container-right{
    width: 50%;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    gap: 2rem;
  
  
  
  }
  .container-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-image: url("/loginphoto.jpg");
    background-size: cover;
    align-items: center;
    justify-content: center;
  }
  .user-login{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  
  }
  .field-input{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  }
  .form-option{
    display: flex;
    justify-content: space-between;
  }
  .form-button{
    padding: 15px 10px;
    width: 100%;
    border: none;
    background-color: #005f86;
    
    color: white;
  
  }
  .form-header{
    gap: 0.8rem;
  }
  .email-class{
    padding: 15px 10px;
    border: 1px solid black;
  }
  .Remember{
    display: flex;
    gap: 1rem;
  
  }